html {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgoldenrod;
    color:rgb(61, 70, 78)
}

h1 {
    text-align: center;
}

.contact {
    text-align: center;
}
